body {
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    -webkit-text-size-adjust: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
    margin: 0px;
    padding: 0px;
}

.clearAll {
    clear: both;
    float: none;
    width: 100%;
}

.buttonItem {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 4px;
}

.transitionBackground {
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.transitionAll {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    height: 3.14285714285714em;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
    border-bottom: 1px solid #ddd;
}

hgroup {
    position: relative;
    line-height: 3.14285714285714em;
    margin: 0 0.71428571428571em;
}

.navWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.menuButton {
    position: relative;
    width: 3.14285714285714em;
    height: 3.14285714285714em;
    border-right: 1px solid #ccc;
    padding-right: 0.71428571428571em;
    cursor: pointer;
    margin-left: -0.71428571428571em;
    padding-left: 0.71428571428571em;
}

.navIcon {
    position: relative;
    width: 1.64285714285714em;
    top: 0.85714285714286em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}

.navIcon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #444;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navIcon span:nth-child(1) {
    top: 0px;
}

.navIcon span:nth-child(2), .navIcon span:nth-child(3) {
    top: 6px;
}

.navIcon span:nth-child(4) {
    top: 12px;
}

.navIconActive span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navIconActive span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navIconActive span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navIconActive span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navListWrapper {
    position: absolute;
    top: 3.57142857142857em;
    left: -0.28571428571429em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 17.85714285714286em;
    margin: 0px;
    padding: 0px;
    display: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.navListWrapperActive {
    display: block;
}

.navListWrapper:after, .navListWrapper:before {
    bottom: 100%;
    left: 1em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navListWrapper:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.navListWrapper:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 7px;
    margin-left: -7px;
}

.dropDownListItem {
    display: block;
    border-radius: 0px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.dropDownListItem a, .dropDownListItem a:hover, .dropDownListItem a:active, .dropDownListItem a:visited {
    font-weight: 700;
    text-decoration: none;
}

.dropDownListItemActive, .dropDownListItem:hover {
    background-color: #eee;
}

.dropDownListItem a {
    display: block;
}

.dropDownListItem:first-child {
    border-top: none;
    border-radius: 8px 8px 0 0;
}

.dropDownListItem:last-child {
    border-radius: 0 0 8px 8px;
}

.logo {
    position: relative;
}

.logoText {
    font-weight: 700;
    font-size: 18px;
    color: #444;
}

.logoText .fa {
    font-size: 20px;
    color: #337ab7;
    display:none;
}

.logoText span {
    margin-left: 5px;
}

.socialWrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
}

.socialButton {
    position: relative;
    float: left;
    list-style: none;
    margin-left: 0.71428571428571em;
    line-height: 48px;
}

.socialButton .fa-2 {
    font-size: 20px;
}


section {
    position: relative;
    margin: 4.28571428571429em 0px 3.57142857142857em;
    z-index: 0;
}

.preloaderWrapper {
    position: absolute;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.preloaderSpinnerWrapper {
    position: relative;
    width: 15.71428571428571em;
    padding: 2.14285714285714em;
    border-radius: 0.71428571428571em;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: auto;
    top: 0%;
}

.preloaderSpinner {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    background-image: url('images/preloader.gif');
    background-repeat: no-repeat;
    margin: auto;
}

.preloaderSpinnerText {
    position: relative;
    text-align: center;
    font-size: 0.85714285714286em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.71428571428571em;
    color: #999;
}

.footerWrapper {
    position: fixed;
    width: 100%;
    height: 2em;
    border-top: 1px solid #ccc;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 999;
}

.footer {
    position: relative;
    text-align: center;
    margin: 0 0.71428571428571em;
    line-height: 2em;
    font-size: 0.78571428571429em;
    color: #777;
    font-weight: 700;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(2n) {
	background-color:#fff;
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active{
	background-color:#eee;
}

.buttonColumn {
    text-align: right;
}

.homePage {
    max-width: 660px;
    margin: 2.5% auto 0;
}

.homePageIcon {
    position: relative;
}

.homePageIconSym {
    position: relative;
    margin: auto;
    width: 10em;
}

.homePageIconSym .fa {
    font-size: 10em;
    color: #337ab7;
}

.homePageTextTitle {
    color: #444;
    font-size: 3.42857142857143em;
    font-weight: 700;
    line-height: 0.70833333333333em;
    position: relative;
    text-align: center;
}

.homePageTextTitle span {
    color: #777;
    display: block;
    font-size: 0.66666666666667em;
    font-weight: 300;
    letter-spacing: 4.2px;
}

.homePage .searchBar {
    margin-top: 1.42857142857143em;
}

.homePageText {
    position: relative;
    margin-top: 0.71428571428571em;
    font-style: italic;
    color: #777;
}

.formHolder {
    position: relative;
    float: right;
    width: 100%;
    margin: 1.42857142857143em 0;
}

.row:after, .row:before {
    clear: both;
}

.resultsFound {
    margin: 1.42857142857143em 0;
}

.addressSearched {
    position: relative;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.addressSearchedData {
    font-size: 30px;
    font-weight: 700;
    color: #444;
}

.totalCountData {
    position: relative;
    font-size: 20px;
    color: #777;
    font-weight: 300;
    display: block;
}

.paginationWrapper {
    position: relative;
    border-top: 1px solid #ccc;
    text-align: right;
    margin-top: 0.71428571428571em;
}

.form-control-pagination {
    float: left;
    max-width: 100px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.mapHolder {
    position: relative;
    width: 100%;
    padding-bottom: 65%;
    background-color: #444;
    margin-bottom: 20px;
}

.theMap {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}

.splitTitle {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.rowHidden {
    display: none;
}

.containerTitle {
    font-weight: 700;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    color: #777;
    border-bottom: 3px solid #777;
}

.content-li {
    position: relative;
    margin-top: 60px;
}

.liModule {
    position: relative;
}

.liModule .containerInner {
    position: relative;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width35 {
    width: 35%;
}

.width40 {
    width: 40%;
}

.width45 {
    width: 45%;
}

.width50 {
    width: 50%;
}

.width55 {
    width: 55%;
}

.width100 {
    display: block;
    width: 100%;
}

.table {
    margin-bottom: 0px;
}

.bold {
    font-weight: 700;
}

.badge {
    position: relative;
    top: -1px;
}

.btn-showAll {
    position: relative;
    display: block;
    margin-top: 10px;
    background-color: #eee;
}

.btn-showAll span {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-showAll span:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #444;
    content: "";
    height: 0;
    position: absolute;
    right: -12px;
    top: 5px;
    width: 8px;
}

.btn-showLess span:after {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #444;
    top: 1px;
}

.zeroResults, .errorWrapper {
    position: relative;
    margin-top: 40px;
}

.zeroResultsText {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #777;
}

.errorWrapper {
    text-align: center;
    color: #a82427;
}

.errorIcon {
    font-size: 80px;
}

.errorText {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.tableHeaderText, .table > tbody > tr > .splitTitle {
	position: relative;
	font-weight: 700;
	width: 30%;
	float: left;
}

.tableData, .table > tbody > tr > .splitData {
	position: relative;
	float: right;
	width: 70%;
}

table thead {
	display:none;
}

.table > tbody > tr > td {
	width: 100%;
	display:block;
}

.buttonColumn .tableData {
	width: 100%;
	float: none;
	text-align: center;
}

.table > tbody > tr > .buttonColumn {
	padding: 16px 8px;
	border-bottom: 1px solid #aaa;
}

.table > tbody > tr > .lastItem {
    padding-bottom: 30px ;
}

.table-striped > tbody > tr:nth-of-type(2n) > .lastItem {
	background-color:#f8f8f8;
	border-bottom: 1px solid #aaa;
}

.table-striped > tbody > tr > td:first-child {
	border-top: 2px solid #ccc;
}

.table-striped > tbody > tr:first-child > td:first-child {
	border-top: none;
}

.col-xs-6 {
	float: none;
	width: auto;
	padding: 0px;
}

.adjustRight {
	border-bottom: 2px solid #777;
	padding-bottom: 30px;
	margin-bottom: -30px;
}

.table-striped > tbody > tr > .splitTitle, .table-striped > tbody > tr:first-child > .splitTitle:first-child, .table-striped > tbody > tr > .splitTitle:first-child {
	border-top: 1px solid #ddd;
}

@media screen and (min-width:500px) {
	.logoText .fa {
    	display:inline;
    }
    
    .logoText {
    	text-align:center;
    }
}


@media screen and (min-width:560px) {
    .formHolder {
        max-width: 50%;
    }
    
    .addressSearchedData {
    	font-size: 30px;
    }
    
    .mapHolder {
    	padding-bottom: 50%;
    }
    
    .homePage {
    	margin-top: 5%;
    }
}

@media screen and (min-width:768px) {
	.addressSearchedData {
		font-size: 36px;
	}
	
    .homePageIconSym {
        float: left;
        margin-right: 1.42857142857143em;
    }

    .homePageTextTitle {
        top: 1.14583333333333em;
        text-align: left;
    }

    .homePageIcon {
        margin-left: 17.5%;
    }

    .totalCountData {
        display: inline-block;
        margin-left: 10px;
    }

    .formHolder {
        max-width: 33.333333%;
    }
    
    table thead {
		display:table-header-group;
	}
    
    .tableHeaderText {
    	display:none;
    }
    
    .table > tbody > tr > td {
    	width: auto;
    	display:table-cell;
    }
    
    .tableData, .tableHeaderText, .table > tbody > tr > .splitTitle, .tableData, .table > tbody > tr > .splitData {
		float:none;
		width: auto;
	}
	
	.table > tbody > tr > .buttonColumn {
		 border-bottom: none;
		 padding: 8px;
	}
	
	.buttonColumn .tableData {
		text-align: right;
	}
	
	.table > tbody > tr > .lastItem {
    	padding-bottom: 8px ;
	}

	.table-striped > tbody > tr:nth-of-type(2n) > .lastItem {
		background-color:transparent;
		border-bottom: none;
	}

	.table-striped > tbody > tr > td:first-child {
		border-top: 1px solid #ddd;
	}

	.table-striped > tbody > tr:first-child > td:first-child {
		border-top: 1px solid #ddd;
	}
	
	.col-xs-6 {
		float: left;
		width: 50%;
		padding: 0px 15px;
	}
	
	.adjustRight {
	    padding-right: 0px;
	    border-bottom: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.adjustLeft {
    	padding-left: 0px;
	}
	
	.mapHolder {
		padding-bottom: 70%;
	}
}


@media screen and (min-width:840px) {
	.mapHolder {
		padding-bottom: 50%;
	}
}